img {
  height: 50px;
  padding: 10px;
}

.loading {
  opacity: 0.5;
  background: transparent url('http://thinkfuture.com/wp-content/uploads/2013/10/loading_spinner.gif') center no-repeat;
}

.found {
  border: 2px solid green;
}

.notFound {
  border: 2px solid red;
}
